@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,500,500i|Spectral:300,400,700&display=swap');

a{
  color: #3d8f3d;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

a:visited{
  color: #2e6b2e;
}

body{
  font-family: Source Sans Pro, sans-serif;
}

button{
  background-color: #c3c3c3;
  border: none;
  color: #3d8f3d;
  text-decoration: none;
  font-size: 1rem;
}

button:hover{
  background-color: #3d8f3d;
  color: #c3c3c3;
}

h1{
  font-size: 1.5rem;
  margin-bottom: 5vh;
}

.buttonNormal{
  background-color: #c3c3c3;
  color: #3d8f3d;
}

.buttonSelected{
  background-color: #3d8f3d;
  color: #c3c3c3;
}

.credit{
  font-weight: 200;
  font-style: italic;
  font-size: .75rem;
}

.explainer{
  font-weight: 300;
  font-size: 1rem;
}

#bottomText{
  width:580px;
  margin-left: 10px;
}

#buttons{
  width:275px;
  margin-left: 162.5px;
}

#chart{
  color: #737373;
}

#totalContainer{
  width: 600px;
  text-align: center;
}
